<carousel interval="1" style="height: 400px">
  <slide ng-repeat="slide in slides" active="slide.active">
    <img ng-src="{{ slide.prefix + 'width' + slide.width + slide.suffix }}" style="margin:auto;height: 400px">
  </slide>
</carousel>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br/><br/>
        <p style="font-size: 22px" class="pull-right">
            <rating ng-model="foursquare.venue.rating" max="10" readonly="true"> </rating> 
        </p>
        <h1>
            {{discount.title}}
            <div style="font-size: 36px">
                <span class="label label-success label-as-badge">{{discount.discount}}</span>
            </div>
        </h1>
        <p>{{discount.description}}</p>
        <p>
          <span class="glyphicon glyphicon-phone"></span>
          {{ foursquare.venue.contact.formattedPhone }} 
        </p>
        <p>
          <span class="glyphicon glyphicon-home"></span>
          {{address.address}}
        </p>
        <p>
          <span class="glyphicon glyphicon-link"></span>
          <a ng-href="discount.link">{{discount.link}}</a>
        </p>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <dir-disqus disqus-shortname="itechdiscout"
                    disqus-identifier="{{ discount.id }}"
                    disqus-url="http://localhost:9000/{{discountId}}">
        </dir-disqus>
    </div>
</div>
