<div class="row">
    <div class="col-md-4 npr">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Отфильтруй базар">
        <div class="list-group scrollable">
            <a ng-href="#!/discounts/{{discount.id}}" class="list-group-item"  ng-repeat="discount in discounts | filter:searchText"
                ng-mouseover="hoverItem(true);"
                ng-mouseout="hoverItem(false);"
                index="{{$index}}">
                <b>{{discount.title}}</b>
                <span class="label label-success label-as-badge">{{discount.discount}}</span>
                <div class="row">
                    <div class="col-md-3 npr">
                        <img ng-src="http://localhost:3000/{{discount.image.image.thumb.url}}" alt="..." height="70" width="70">
                    </div>
                    <div class="col-md-9 npl">
                        <p>{{discount.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-8" ng-show="discountId">
        <dir-disqus disqus-shortname="itechdiscout"
                    disqus-identifier="{{ discountId }}"
                    disqus-url="http://localhost:9000/{{discountId}}">
        </dir-disqus>
    </div>
    <div class="col-md-8 npl npr" ng-hide="discountId">
      <ui-gmap-google-map center="{ latitude: 53.9, longitude: 27.5667 }" zoom='11'
                          options="{ minZoom: '11' }">

        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id">
          <ui-gmap-window>
            <div>
              <p><strong>{{ marker.title }}</strong></p>
              <p>Скидка: {{ marker.discount }}</p>
              <a href="{{ marker.link }}">Сайт заведения</a>
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
</div>
